:root {
  font: 16px / 1 sans-serif;
}
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}
.title {
  margin: auto;
  text-align: center;
  padding-bottom: 1.5rem;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.page-title {
  text-align: center;
  padding-top: 1.3rem;
}
.in-progress-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
td,
th {
  // border: 1px solid black;
  padding: 1rem;
}
.in-progress-table {
  margin: auto;
  margin-top: 1rem;
  border-collapse: collapse;
  // font-size: 0.9rem;
  min-width: 250px;
  text-align: center;
}
.in-progress-table thead tr {
  background-color: #fac4c4;
  // border: 2px solid #d30c0c;
  border: 2px solid #d30c0c;
  // border-radius: 1rem;
}
.in-progress-table th td {
  padding: 12px 15px;
}
th {
  font-size: 1.5rem;
  // border-radius: 2rem;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}
.build-theme {
  font-size: 1.5rem;
  min-width: 250px;
  list-style: none;
  text-decoration: none;
  border: 2px solid #d30c0c;
  text-align: center;
  margin-top: 2.5rem;
  background-color: #fac4c4;
  padding: 12px 15px;
  color: black;
  max-width: 100px;
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.footer-container {
  max-width: 50rem;
  margin: auto;
}
.header-container {
  // max-width: 50rem;
  // margin: auto;
}

.footer .footer-img {
  display: block;
  height: 100px;
  width: 50vh;
  background: url('./images/footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  transform: rotate(180deg);
  margin-top: auto;
}
.header .header-img {
  display: block;
  height: 50px;
  background: url('./images/footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  margin-top: 0;
}
.footer-img {
  position: fixed;
  bottom: 0;
  margin-top: 0;
}
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
// $light-pink: #f0f0ff;
$light-pink: #f83838;
$pink: #eb3c3c;
// F65050
// $dark-pink: #c9c4f9;
$dark-pink: #f53c3c;
// F53C3C
// $pink-border: #8c85b1;
$pink-border: #d30c0c;
// F32727
// $pink-shadow: #e5e2ff;
$pink-shadow: #fac4c4;
// FA9A9A

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// body {
//   font-family: 'Rubik', sans-serif;
//   font-size: 1rem;
//   line-height: 1.5;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0;
//   min-height: 100vh;
//   background: $bg;
// }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  // vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.lego-button {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 0.5em 0.5em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}
.wish {
  font-size: 0.6rem;
  margin-left: 8.5rem;
  justify-content: center;
}
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.2;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
}
.meta {
  position: relative;
  y-index: 0;
  height: 200px;
}
.photo {
  position: absolute;
  background-size: cover;
  background-position: center;
}
.description {
  padding: 1rem;
  background: $color_white;
  position: relative;
  h1,
  h2 {
    font-family: Poppins, sans-serif;
  }
  h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color_grey_dark;
    margin-top: 3px;
  }
}
p {
  position: relative;
  margin: 1rem 0 0;
  &:first-of-type {
    margin-top: 1.25rem;
    &:before {
      content: '';
      position: absolute;
      height: 5px;
      background: $color_prime;
      width: 35px;
      top: -0.75rem;
      border-radius: 3px;
    }
  }
}
.stars {
  --rating: 0;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    goldenrod var(--percent),
    #ccc var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.star-rating label {
  color: lightgray;
}

.star-rating label:hover {
  text-shadow: 0 0 1px #000;
}

.rating {
  font-size: 1.2rem;
}

.rating input[type='radio']:not(:nth-of-type(0)) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.rating [type='radio']:not(:nth-of-type(0)) + label {
  // display: none;
  color: transparent;
}

label[for]:hover {
  cursor: pointer;
}

// .rating .star-rating label::before {
//   content: '★';
// }

.rating
  [type='radio']:nth-of-type(1):checked
  ~ .star-rating
  label:nth-of-type(-n + 1),
.rating
  [type='radio']:nth-of-type(2):checked
  ~ .star-rating
  label:nth-of-type(-n + 2),
.rating
  [type='radio']:nth-of-type(3):checked
  ~ .star-rating
  label:nth-of-type(-n + 3),
.rating
  [type='radio']:nth-of-type(4):checked
  ~ .star-rating
  label:nth-of-type(-n + 4),
.rating
  [type='radio']:nth-of-type(5):checked
  ~ .star-rating
  label:nth-of-type(-n + 5) {
  color: orange;
}

.rating [type='radio']:nth-of-type(1):focus ~ .star-rating label:nth-of-type(1),
.rating [type='radio']:nth-of-type(2):focus ~ .star-rating label:nth-of-type(2),
.rating [type='radio']:nth-of-type(3):focus ~ .star-rating label:nth-of-type(3),
.rating [type='radio']:nth-of-type(4):focus ~ .star-rating label:nth-of-type(4),
.rating
  [type='radio']:nth-of-type(5):focus
  ~ .star-rating
  label:nth-of-type(5) {
  color: darkorange;
}
form {
  position: unset;
  display: inline-block;
  max-width: 700px;
  min-width: 350px;
  box-sizing: border-box;
  padding: 10px 25px;
  background-color: white;
  border-radius: 40px;
  margin: auto;
  left: 50%;
  // text-align: center;
}
.form-header {
  // color: #d30c0c;
  font-weight: 100;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 1rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.question {
  position: relative;
  padding: 10px 0;
  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0v;
  }
}
label {
  transition: (all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5));
  transform-origin: left center;
  color: #d30c0c;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
input[type='text'] {
  transition: (all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5));
  appearance: none;
  background-color: none;
  border: 1px solid #d30c0c;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #d30c0c;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;

  &:focus {
    outline: none;
    background: #d30c0c;
    color: white;
    margin-top: 30px;
  }

  &:valid {
    margin-top: 30px;
  }

  &:focus ~ label {
    transform: translate(0, -35px);
  }

  &:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    color: red;
    transform: (translate(5px, -35px) scale(0.6));
  }
}
.submit {
  margin-top: 1rem;
}

.description li {
  list-style: none;
}
